* {
    padding: 0;
    margin: 0;
    font-family: 'cairo';
    text-transform: capitalize;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #c4f391;
    color: #222;
    font-size: 30px;
    text-align: center;
}

button {
    all: unset;
    color: #222;
    border: #222 1px solid;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    cursor: pointer;
}

.bg-model {
    display: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000080;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    animation-name: hide;
    animation-duration: 0.5s;
}

.bg-model .box {
    width: 50%;
    height: 50vh;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0 0 17px 4px #0000005c;
    position: relative;
    text-align: center;
}

.close {
    all: unset;
    position: absolute;
    right: 20px;
    top: 5px;
    font-weight: bold;
    color: #222;
    cursor: pointer;
}

.show {
    display: flex !important;
    animation-name: show;
    animation-duration: 0.2s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width : 400px) {
    body {
        font-size: 20px;
    }
}

@media screen and (max-width : 200px) {
    body {
        font-size: 10px;
    }
}